.container {
    background-color: #E61D22;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container_2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container_3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

.btn-section {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.container-routes {
    width: 100%;
    height: 75%;
}

.form-type-section {
    width: 100%;
    height: 27%;
    background-color: blueviolet;
}

.poke-card {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    width: 20%;
    height: 90%;
    word-wrap: break-word;
    background-color: #EFEFEE;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.container-poke-types {
    height: 81%;
}

.total {
    width: 100%;
    height: 100%;
}

.pokemon-snap {
    position: absolute;
    width: 280px;
    top: -90px;
    z-index: 1;
}

a {
    text-decoration: none;
}

/* Estructura del diseño */
.estructure {
    width: 4%;
    height: 97%;
    border: solid 4px #010100;
    background-color: #E61D22;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.estructure_1 {
    height: 18%;
    width: 100%;
    border-bottom-width: 4px;
    border-bottom-color: #010100;
    border-bottom-style: solid;
    background: linear-gradient(to right, #7F100F, #E71D23, #E71D23, #7F100F);
}

.estructure_2 {
    background: linear-gradient(to right, #7F100F, #E71D23, #E71D23, #7F100F);
    height: 18%;
    width: 100%;
    border-top-width: 4px;
    border-top-color: #010100;
    border-top-style: solid;
}

.text-white {
    color: #FFFFFE;
}

/* .button-section {
    width: 100%;
    height: 10%;
} */

.button-options {
    align-items: center;
    background: #DEDEDE;
    border-radius: 3px;
    border: 2px solid black;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    text-transform: uppercase;
    width: 100px;
    margin: 10px;
}

.button-options a {
    color: #010100;
}

.bg {
    background-color: #E61D22;
}

.bg2 {
    background-color: antiquewhite;
}

.ej {
    width: 100vw;
    height: 100vh;
}

/* new */

.container-type {
    width: 100vw;
    height: 100vh;
    background-color: #E71D23;
}